@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgb(134, 243, 87) 100%
  );
  color: rgb(14, 8, 1);
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

p {
  justify-content: center;
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.gallery {
  background: linear-gradient(
    90deg,
    rgba(63, 78, 66, 0.424),
    rgba(169, 189, 161, 0.5)
  );
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 40px;
  margin: 30px;
}

.picture {
  border: solid 2px rgba(63, 78, 66, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  margin: 20px;
  max-height: 250px;
  max-width: 400px;
  transition: transform 0.4s;
}

.picture:hover {
  transform: scale(1.1);
}

.picture img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}


